* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #ffb30054; */
  background: url(assets/bg.png);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

header > div {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

form {
  background: white;
  padding: 20px;
  /* max-height: 50vh; */
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
}

form input {
  padding: 5px;
  border: 2px solid lightgray;
  font-size: 20px;
}

#label-amount {
  font-size: 20px;
}

.dropdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.exchange {
  width: 50px;
}

.from,
.to {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  align-self: flex-start;
  font-size: 20px;
  font-weight: bold;
}

.from img,
.to img {
  width: 60px;
}

select {
  border: 2px solid lightgray !important;
  border-radius: 5px;
  font-size: 17px;
  /* appearance: none; */
  background-color: #f0f0f0;
  cursor: pointer;
}

button {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

select::-webkit-scrollbar {
  /* display: none;  */
  width: 10px;
}

select::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}
/* select::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
} */

option {
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

/* option:hover {
  background-color: #333 !important;
  color: #fff;
} */

.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
}

/* .hidden {
 visibility: hidden;
} */

.exchange2 {
  width: 25px;
}

.exchangerate {
  width: 83%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  border: 2px solid #686868;
  color: #686868;
  align-self: center;
  border-radius: 15px;
  gap: 5px;
}
.er1 {
  justify-self: flex-end;
}
.er2 {
  justify-self: flex-start;
}
